{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
   "ignore": [
      "src/vendors/*",
      "node_modules/**",
      "src/icons/*.js"
   ]
}
